@charset "UTF-8";
html {
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  font-family: Microsoft Yahei, Helvetica, sans-serif;
  color: white;
  width: 16rem;
  margin: 0 auto;
  height: 100%;
  overflow: hidden; }

audio {
  display: none; }

img {
  display: block;
  width: 100%; }

@keyframes show {
  50% {
    opacity: 1; } }
@-webkit-keyframes show /* Safari 和 Chrome */ {
  50% {
    opacity: 1; } }
@keyframes moveMe {
  50% {
    transform: rotateZ(15deg); }
  100% {
    transform: rotateZ(-15deg); } }
@-webkit-keyframes moveMe /* Safari 和 Chrome */ {
  50% {
    -webkit-transform: rotateZ(15deg); }
  100% {
    -webkit-transform: rotateZ(-15deg); } }
@keyframes moveUp {
  100% {
    transform: translate3d(0, 0, 0) rotateX(0deg); } }
@-webkit-keyframes moveUp {
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotateX(0deg); } }
@keyframes moveOut {
  100% {
    transform: translate3d(0, -4.26667rem, -4.26667rem) rotateX(90deg); } }
@-webkit-keyframes moveOut {
  100% {
    -webkit-transform: translate3d(0, -4.26667rem, -4.26667rem) rotateX(90deg); } }
@keyframes run {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -34.13333rem 0; } }
@-webkit-keyframes run {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -34.13333rem 0; } }
@keyframes moveLine {
  50% {
    transform: translate3d(2.13333rem, -2.13333rem, 0); } }
@-webkit-keyframes moveLine {
  50% {
    -webkit-transform: translate3d(2.13333rem, -2.13333rem, 0); } }
.pageContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
  background-color: black; }
  .pageContainer .objectContainer {
    position: relative;
    width: 100%; }
    .pageContainer .objectContainer .phoneContainer {
      position: absolute;
      width: 100%;
      top: 0;
      opacity: 0;
      z-index: 1;
      animation: show 1.6s infinite;
      -webkit-animation: show 1.6s infinite; }
    .pageContainer .objectContainer .lightContainer {
      position: absolute;
      width: 70%;
      left: 15%;
      top: 0;
      z-index: 2;
      -webkit-transform: rotateZ(-15deg);
      -webkit-transform-origin: center 0;
      animation: moveMe 1.6s infinite;
      -webkit-animation: moveMe 1.6s infinite; }
    .pageContainer .objectContainer #videoClip {
      position: relative;
      width: 100%;
      overflow: hidden; }
      .pageContainer .objectContainer #videoClip .smileContainer {
        position: absolute;
        top: 0;
        width: 100%; }
    .pageContainer .objectContainer .angerContainer {
      position: absolute;
      width: 90%;
      top: 6%;
      left: 5%; }
      .pageContainer .objectContainer .angerContainer .myPicContainer {
        position: relative;
        float: left;
        width: 2.13333rem;
        height: 2.13333rem;
        border-radius: 50%;
        overflow: hidden; }
      .pageContainer .objectContainer .angerContainer .colorWrapper {
        position: relative;
        float: right;
        width: 80%; }
        .pageContainer .objectContainer .angerContainer .colorWrapper .tipsContainer {
          position: relative;
          width: 100%; }
          .pageContainer .objectContainer .angerContainer .colorWrapper .tipsContainer p {
            text-align: left;
            color: white;
            text-indent: 0.21333rem;
            font-size: 0.64rem;
            line-height: 0.98133rem; }
        .pageContainer .objectContainer .angerContainer .colorWrapper .colorContainer {
          position: relative;
          width: 100%;
          margin: auto;
          height: 0.85333rem;
          border: 2px solid black;
          border-radius: 0.42667rem;
          overflow: hidden;
          transform: translate3d(0, 0, 0);
          /*父元素使用transform:translate3d 属性*/
          -webkit-transform: translate3d(0, 0, 0); }
        .pageContainer .objectContainer .angerContainer .colorWrapper .colorContainer .colorPro {
          position: relative;
          width: 100%;
          height: 100%;
          background: #29a932;
          transition: transform 0.4s linear 0s;
          -webkit-transition: -webkit-transform 0.4s linear 0s;
          transform: translateX(-14.93333rem);
          -webkit-transform: translateX(-14.93333rem); }
        .pageContainer .objectContainer .angerContainer .colorWrapper .colorContainer .colorPro.step1 {
          transform: translateX(-10.66667rem);
          -webkit-transform: translateX(-10.66667rem); }
        .pageContainer .objectContainer .angerContainer .colorWrapper .colorContainer .colorPro.step3 {
          background: linear-gradient(to right, #29a932 5%, #efe20a 50%, #ff3600 100%);
          transform: translateX(0);
          -webkit-transform: translateX(0); }
        .pageContainer .objectContainer .angerContainer .colorWrapper .colorContainer .colorPro.step2 {
          background: linear-gradient(to right, #29a932 45%, #efe20a 100%);
          transform: translateX(-5.33333rem);
          -webkit-transform: translateX(-5.33333rem); }
      .pageContainer .objectContainer .angerContainer .clear {
        clear: both; }
  .pageContainer .boardContainer {
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 90%;
    z-index: 3; }
    .pageContainer .boardContainer .wordsContainer {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0; }
      .pageContainer .boardContainer .wordsContainer .personContainer, .pageContainer .boardContainer .wordsContainer .textContainer {
        position: relative;
        width: 80%;
        margin: auto; }
        .pageContainer .boardContainer .wordsContainer .personContainer p, .pageContainer .boardContainer .wordsContainer .textContainer p {
          word-break: break-all;
          text-align: left;
          font-size: 0.768rem;
          line-height: 1.536rem;
          color: white;
          letter-spacing: 0.17067rem; }
      .pageContainer .boardContainer .wordsContainer .triangleContainer {
        position: absolute;
        right: 3%;
        bottom: 10%;
        width: 0;
        height: 0;
        border-top: 0.384rem solid transparent;
        border-left: 0.768rem solid white;
        border-bottom: 0.384rem solid transparent; }
  .pageContainer .skipContainer {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 3.84rem;
    height: 0.96rem;
    z-index: 3;
    background-image: url(http://zhcn.web.cdn.cootekservice.com/s/liftDesk/images/btn.png);
    background-size: 100% auto;
    background-repeat: no-repeat; }
    .pageContainer .skipContainer p {
      font-size: 0.46933rem;
      line-height: 0.96rem;
      color: black;
      text-align: left;
      text-indent: 0.512rem; }

#p3 {
  display: none;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.85); }
  #p3 .gifContainer {
    position: relative;
    width: 9.55733rem;
    margin: auto;
    margin-top: 0.768rem; }
    #p3 .gifContainer .timeContainer {
      position: absolute;
      top: 40%;
      width: 100%;
      opacity: 0; }
      #p3 .gifContainer .timeContainer h2 {
        text-align: center;
        color: white;
        font-size: 2.13333rem;
        line-height: 4.26667rem; }
  #p3 .pushContainer {
    position: relative;
    width: 5.07733rem;
    height: 5.07733rem;
    background-image: url(http://zhcn.web.cdn.cootekservice.com/s/liftDesk/images/btn1.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 0.768rem;
    -webkit-user-select: none;
    -webkit-touch-callout: none; }
    #p3 .pushContainer .wordsContainer {
      position: absolute;
      width: 100%;
      top: 0;
      -webkit-user-select: none;
      -webkit-touch-callout: none; }
      #p3 .pushContainer .wordsContainer p {
        font-size: 0.85333rem;
        line-height: 5.07733rem;
        color: #cc7501;
        text-align: center; }
  #p3 .tipsContainer {
    position: relative;
    width: 70%;
    margin: auto;
    margin-top: 2.13333rem;
    border-radius: 0.08533rem;
    border: 0.02133rem solid white;
    background-color: #021653; }
    #p3 .tipsContainer p {
      font-size: 0.768rem;
      line-height: 1.536rem;
      color: white;
      text-align: center; }
  #p3 #logContainer {
    position: relative;
    width: 60%;
    margin: auto;
    margin-top: 0.768rem; }
    #p3 #logContainer p {
      color: white;
      font-size: 0.55467rem;
      text-align: center;
      line-height: 0.98133rem; }

#p4 {
  display: none;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.72); }
  #p4 .resultContainer {
    position: relative;
    width: 90%;
    margin: auto;
    margin-top: 2.13333rem;
    padding-top: 2.13333rem;
    padding-bottom: 2.13333rem;
    background-image: url(http://zhcn.web.cdn.cootekservice.com/s/liftDesk/images/bounce-jieguo2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat; }
    #p4 .resultContainer p {
      width: 86%;
      margin: auto;
      font-size: 0.85333rem;
      line-height: 1.70667rem;
      color: white;
      text-align: left; }
    #p4 .resultContainer #meters, #p4 .resultContainer #myRank, #p4 .resultContainer #checkRes {
      color: #fbc405;
      font-size: 1.024rem; }
    #p4 .resultContainer #checkRes {
      text-decoration: underline; }
  #p4 .buttonGroupContainer {
    position: relative;
    width: 9.06667rem;
    margin: auto;
    margin-top: 1.70667rem; }
    #p4 .buttonGroupContainer .buttonContainer {
      position: relative;
      width: 100%;
      background-image: url(http://zhcn.web.cdn.cootekservice.com/s/liftDesk/images/btn2.png);
      background-size: 100% 100%;
      background-repeat: no-repeat; }
      #p4 .buttonGroupContainer .buttonContainer p {
        font-size: 0.85333rem;
        line-height: 3.66933rem;
        text-align: center;
        color: #cc7501; }
  #p4 .rankContainer {
    position: absolute;
    bottom: 0.68267rem;
    right: 0.68267rem;
    width: 1.70667rem; }

#p1 {
  z-index: 1; }

#p2 {
  z-index: 2;
  display: none; }

#p5 {
  z-index: 5;
  display: none; }
  #p5 .objectContainer .contentContainer, #p5 .objectContainer .codeContainer {
    position: absolute;
    top: 1.70667rem;
    width: 94%;
    left: 3%; }
    #p5 .objectContainer .contentContainer .titleContainer, #p5 .objectContainer .codeContainer .titleContainer {
      position: relative;
      width: 85%;
      margin: auto; }
    #p5 .objectContainer .contentContainer .redContainer, #p5 .objectContainer .codeContainer .redContainer {
      position: relative;
      width: 8.53333rem;
      height: 8.23467rem;
      margin: auto;
      margin-top: 0.85333rem;
      background: url(http://zhcn.web.cdn.cootekservice.com/s/liftDesk/images/gif.png) 0 0 no-repeat;
      background-size: auto 100%;
      animation: run 0.6s steps(4) infinite;
      -webkit-animation: run 0.6s steps(4) infinite; }
    #p5 .objectContainer .contentContainer .buttonContainer, #p5 .objectContainer .codeContainer .buttonContainer {
      position: relative;
      width: 6.336rem;
      margin: auto;
      margin-top: 0.42667rem;
      background-image: url(http://zhcn.web.cdn.cootekservice.com/s/liftDesk/images/btn3.png);
      background-size: 100% auto;
      background-repeat: no-repeat; }
      #p5 .objectContainer .contentContainer .buttonContainer p, #p5 .objectContainer .codeContainer .buttonContainer p {
        text-align: center;
        font-size: 0.72533rem;
        line-height: 1.856rem;
        color: #ffea97; }
  #p5 .objectContainer .codeContainer {
    transform: translate3d(0, 8.53333rem, -4.26667rem);
    -webkit-transform: translate3d(0, 8.53333rem, -4.26667rem) rotateX(90deg);
    -webkit-transform-origin: 50% 100%; }
  #p5 .objectContainer .codeContainer.moveUp {
    animation: moveUp .6s  1;
    -webkit-animation: moveUp .6s  1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards; }
  #p5 .objectContainer .contentContainer.moveOut {
    -webkit-transform-origin: 50% 0%;
    animation: moveOut .6s  1;
    -webkit-animation: moveOut .6s  1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards; }
  #p5 .bottomContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.56267rem;
    background-size: 100% auto;
    background-repeat: no-repeat; }
    #p5 .bottomContainer .bannerContainer {
      position: absolute;
      bottom: 0rem;
      width: 100%; }
  #p5 .maskContainer {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.75); }
    #p5 .maskContainer .guideContainer {
      position: absolute;
      top: 3.2rem;
      right: 3.2rem;
      width: 3.2rem;
      animation: moveLine 1s infinite;
      -webkit-animation: moveLine 1s infinite; }

#rankpanel {
  z-index: 5;
  background-color: white;
  transform: translateY(32rem);
  -webkit-transform: translateY(32rem);
  transition: transform .3s;
  -webkit-transition: -webkit-transform .3s;
  transition-timing-function: linear;
  -webkit-transition-timing-function: linear; }

#rankpanel.show {
  transform: translateY(0rem);
  -webkit-transform: translateY(0rem); }

p {
  font-size: 1.36533rem; }

/*# sourceMappingURL=index.css.map */
