//sass style
//-----------------------------------
@import './px2rem.scss';
$designWidth : 750;
$fontStack:  Microsoft Yahei,   Helvetica, sans-serif;
$primaryColor: white;
$spriteWidth: 400; // 精灵宽度 
html{
	width:  100% ;
	height :100% ;
	overflow : hidden ;
}
body {
  font-family: $fontStack;
  color: $primaryColor;
width:16rem;margin:0 auto;
height  : 100% ;
  overflow : hidden ;
}
audio{
	display : none ; 
}
img{
	display : block ;
	width : 100% ;
}

@keyframes show
{
50% {opacity : 1 ;}
}

@-webkit-keyframes show /* Safari 和 Chrome */
{
50% {opacity: 1;}
}

@keyframes moveMe
{
50% {transform : rotateZ(15deg) ;}
100%{transform : rotateZ(-15deg) ;}
}

@-webkit-keyframes moveMe /* Safari 和 Chrome */
{
50% {-webkit-transform : rotateZ(15deg) ;}
100%{-webkit-transform : rotateZ(-15deg) ;}
}

@keyframes moveUp{
	100%{transform : translate3d(0, 0 , 0 ) rotateX(0deg);}
}
@-webkit-keyframes moveUp{
	100%{-webkit-transform : translate3d(0,0 ,0) rotateX(0deg);}
}
@keyframes moveOut{
	100%{transform : translate3d(0, px2rem(-200), px2rem(-200)) rotateX(90deg);}
}
@-webkit-keyframes moveOut{
	100%{-webkit-transform : translate3d(0, px2rem(-200), px2rem(-200)) rotateX(90deg)}
}


@keyframes run{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -(px2rem(1600)) 0; // 4帧
  }
}

@-webkit-keyframes run{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -(px2rem(1600)) 0; // 4帧
  }
}

@keyframes moveLine{
	50%{transform : translate3d( px2rem(100), -(px2rem(100))  , 0 ) ;}
}
@-webkit-keyframes moveLine{
	50%{-webkit-transform : translate3d( px2rem(100), -(px2rem(100))  , 0 ) ;}
}

.pageContainer{
	position : absolute ;
	width : 100% ;
	height : 100% ;
	top : 0 ;
	overflow : hidden ;
	background-color : black ;
	.objectContainer{
		position : relative ;
		width : 100% ;

		.phoneContainer{
			position :absolute ;
			width : 100% ;
			top : 0 ;
			opacity : 0 ;
			z-index : 1 ;
			animation: show 1.6s infinite;
			-webkit-animation: show 1.6s infinite ;
			
		}

		.lightContainer{
			position : absolute ;
			width : 70% ;
			left : 15% ;
			top : 0 ;
			z-index :2 ;
			-webkit-transform : rotateZ(-15deg) ;
			-webkit-transform-origin: center 0 ;
			animation: moveMe 1.6s infinite;
			-webkit-animation: moveMe 1.6s infinite ;
		}

		#videoClip{
			position : relative ;
			width : 100% ;
			.smileContainer{
				position : absolute ;
				top : 0 ;
				width : 100% ;
			}
			overflow: hidden ;
		}

		.angerContainer{
			position : absolute ;
			width : 90% ;
			top : 6% ;
			left :5%  ;
			.myPicContainer{
				position : relative ;
				float : left ;
				width : px2rem(100);
				height : px2rem(100);
				border-radius : 50% ;
				overflow: hidden ;
			}

			.colorWrapper{
				position : relative;
				float : right ;
				width : 80%;

				.tipsContainer{
					position : relative ;
					width : 100% ;
					p{
						text-align: left ;
						color : white ;
						text-indent: px2rem(10);
						font-size: px2rem(30);
						line-height: px2rem(46);
					}
				}



				.colorContainer{
					position : relative;
					width : 100%;
					margin : auto ;
					
					height : px2rem(40) ;
					border:  2px solid black;
					border-radius:px2rem(20) ;
					overflow: hidden ;
					transform:translate3d(0,0,0);/*父元素使用transform:translate3d 属性*/
            					-webkit-transform:translate3d(0,0,0);
					//-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
				
				}

				.colorContainer .colorPro{
					position : relative ;
					width : 100% ;
					height : 100% ;
					background:#29a932 ;
					transition : transform .4s linear 0s ;
					-webkit-transition : -webkit-transform .4s linear 0s ;
					transform : translateX(px2rem(-700));
					-webkit-transform : translateX(px2rem(-700));

				}
				.colorContainer .colorPro.step1{
					
					transform : translateX(px2rem(-500));
					-webkit-transform : translateX(px2rem(-500));
				}

				.colorContainer .colorPro.step3{
					background: linear-gradient(to right, #29a932 5%, #efe20a 50%, #ff3600 100%  )  ;
					transform : translateX(0);
					-webkit-transform : translateX(0);
				}
				.colorContainer .colorPro.step2{
					background: linear-gradient(to right, #29a932 45%, #efe20a 100%  )  ;
					transform : translateX(px2rem(-250));
					-webkit-transform : translateX(px2rem(-250));
				}
			}
			

			.clear{
				clear : both ;
			}
		}

		
	}
	.boardContainer{
		position : absolute ;
		bottom : 5% ;
		left : 5% ;
		width : 90% ;
		z-index : 3 ;
		.wordsContainer{
			position : absolute ;
			width : 100% ;
			height : 100% ;
			top : 0 ;

			.personContainer, .textContainer{
				position : relative ;
				width : 80% ;
				margin : auto ;
				p{
					word-break:break-all;
					text-align: left ; 
					font-size : px2rem(36);
					line-height: px2rem(72);
					color : white ;
					letter-spacing:px2rem(8);
				}
			}
			.triangleContainer {
			  
			   position : absolute ;
			   right : 3% ;
			   bottom : 10% ;
			    width: 0;
			    height: 0;
			    border-top: px2rem(18) solid transparent;
			    border-left: px2rem(36) solid white;
			    border-bottom: px2rem(18) solid transparent;
			}

			


		}
	}

	.skipContainer{
		position : absolute ;
		top : 5% ;
		right : 5% ;
		width : px2rem(180);
		height: px2rem(45);
		z-index : 3 ;
		background-image : url(http://zhcn.web.cdn.cootekservice.com/s/liftDesk/images/btn.png);
		background-size : 100% auto ;
		background-repeat:  no-repeat ;
		p{
			font-size: px2rem(22);
			line-height: px2rem(45);
			color : black ;
			text-align: left ;
			text-indent: px2rem(24);
		}
	}
}

#p3{
	display : none ;
	z-index :3 ;
	background-color : rgba(0,0,0,0.85);
	.gifContainer{
		position  :relative ;
		width : px2rem(448) ;
		margin : auto;
		
		margin-top: px2rem(36) ; 
		.timeContainer{
			position :absolute ;
			top : 40% ;
			width : 100% ;
			opacity : 0 ;
			h2{
				text-align: center ;
				color : white ;
				font-size: px2rem(100);
				line-height: px2rem(200);
			}
		}
	}
	.pushContainer{
		position : relative ; 
		width : px2rem(238) ;
		height: px2rem(238);
		background-image : url(http://zhcn.web.cdn.cootekservice.com/s/liftDesk/images/btn1.png);
		background-size: 100% auto ;
		background-repeat: no-repeat ;
		margin : auto ;
		margin-top : px2rem(36);
		   -webkit-user-select:none;
 	              -webkit-touch-callout:none;
		.wordsContainer{
			position :absolute ;
			width : 100% ;
			top : 0 ;
			 -webkit-user-select:none;
 	            		 -webkit-touch-callout:none;
			p{
				font-size : px2rem(40);
				line-height:  px2rem(238);
				color : #cc7501 ;
				text-align: center ;
			}
		}
	}
	.tipsContainer{
		position : relative ;
		width : 70% ;
		margin : auto ;
		margin-top  : px2rem(100);
		border-radius : px2rem(4);
		border : px2rem(1) solid white ;
		background-color : #021653 ;
		p{
			font-size : px2rem(36);
			line-height: px2rem(72);
			color : white ;
			text-align: center ;
		}
	}

	#logContainer{
		position : relative ;
		width : 60% ;
		margin : auto ;
		margin-top: px2rem(36);
		p{
			color : white ;
			font-size: px2rem(26);
			text-align: center ;
			line-height:  px2rem(46);
		}
	}
}

#p4{
	display : none ;
	z-index :4 ;
	background-color : rgba(0,0,0,0.72);
	.resultContainer{
		position : relative ;
		width : 90% ;
		margin : auto ;
		margin-top : px2rem(100);
		padding-top : px2rem(100);
		padding-bottom : px2rem(100);
		background-image : url(http://zhcn.web.cdn.cootekservice.com/s/liftDesk/images/bounce-jieguo2.png);
		background-size : 100% 100% ;
		background-repeat : no-repeat ; 

		p{
			width : 86% ;
			margin :auto ;
			font-size : px2rem(40);
			line-height: px2rem(80);
			color : white ;
			text-align: left ;
		}

		#meters, #myRank, #checkRes{
			color : #fbc405;
			font-size : px2rem(48);
		}

		#checkRes{
			text-decoration:underline ;
		}
	}

	.buttonGroupContainer{
		position : relative ;
		width : px2rem(425);
		margin: auto ;
		margin-top : px2rem(80);
		.buttonContainer{
			position : relative ;
			width : 100% ;
			
			background-image : url(http://zhcn.web.cdn.cootekservice.com/s/liftDesk/images/btn2.png);
			background-size : 100% 100% ;
			background-repeat : no-repeat ; 
			p{
				font-size : px2rem(40);
				line-height: px2rem(172);
				text-align:  center ;
				color : #cc7501 ;
			}
		}
	}
	.rankContainer{
		position : absolute ;
		bottom : px2rem(32);
		right: px2rem(32);
		width : px2rem(80);
		
	}
}

#p1{
	z-index: 1 ;
}

#p2{
	z-index : 2 ;
	display: none ;
}

#p5{
	z-index : 5 ;
	display : none ;
	.objectContainer{
		.contentContainer, .codeContainer{
			position : absolute ;
			top : px2rem(80);
			width : 94% ;
			left : 3% ;
			.titleContainer{
				position  :relative ;
				width : 85% ;
				margin : auto ;
			}
			.redContainer{
				position  :relative ;
				width: px2rem($spriteWidth);
				height: px2rem(386);
				margin : auto ;
				margin-top : px2rem(40);
				
  				
  				background: url(http://zhcn.web.cdn.cootekservice.com/s/liftDesk/images/gif.png) 0 0 no-repeat;
  				background-size: auto 100%  ;
  				animation: run 0.6s steps(4) infinite;
  				-webkit-animation: run 0.6s steps(4) infinite;
			}
			.buttonContainer{
				position : relative ;
				width : px2rem(297);
				margin : auto ;
				margin-top : px2rem(20);
				background-image: url(http://zhcn.web.cdn.cootekservice.com/s/liftDesk/images/btn3.png);
				background-size: 100% auto ;
				background-repeat: no-repeat ;
				p{
					text-align: center ;
					font-size : px2rem(34);
					line-height: px2rem(87);
					color : #ffea97 ;
				}
			}
		}

		.codeContainer{
			transform : translate3d(0, px2rem(400), px2rem(-200));
			-webkit-transform : translate3d(0, px2rem(400), px2rem(-200)) rotateX(90deg);
			-webkit-transform-origin: 50% 100% ;
		}
		.codeContainer.moveUp{
			animation: moveUp .6s  1;
			-webkit-animation: moveUp .6s  1;
			animation-fill-mode: forwards ;
			-webkit-animation-fill-mode: forwards ;
		}

		.contentContainer.moveOut{
			-webkit-transform-origin: 50% 0% ;
			animation: moveOut .6s  1;
			-webkit-animation: moveOut .6s  1;
			animation-fill-mode: forwards ;
			-webkit-animation-fill-mode: forwards ;
		}



		
	}
	.bottomContainer{
			position : absolute ;
			bottom : 0 ;
			width : 100% ;
			height : px2rem(167);
			//background-image: url(http://zhcn.web.cdn.cootekservice.com/s/liftDesk/images/p5-di.jpg);
			background-size: 100% auto ;
			background-repeat : no-repeat ;
			.bannerContainer{
				position : absolute ;
				bottom : px2rem(0) ;
				width : 100% ;
				


			}
	}

	.maskContainer{
		display : none ;
		position : absolute ;
		width : 100% ;
		height : 100% ;
		top : 0 ;
		z-index : 10;
		background-color : rgba(0,0,0,0.75);
		.guideContainer{
			position : absolute ;
			top : px2rem(150) ;
			right : px2rem(150) ;
			width : px2rem(150);
			animation: moveLine 1s infinite;
			-webkit-animation: moveLine 1s infinite ;

		}
	}
}

#rankpanel{
	z-index: 5 ;
	
	background-color: white ;
	transform : translateY(px2rem(1500));
	-webkit-transform : translateY(px2rem(1500));
	//top : 100% ;
	transition: transform .3s;
	-webkit-transition: -webkit-transform .3s;
	transition-timing-function: linear ;
	-webkit-transition-timing-function: linear ;
}

#rankpanel.show{
	
	transform : translateY(px2rem(0));
	-webkit-transform : translateY(px2rem(0));
}

p{
	font-size : px2rem(64);
}


